In [1]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np

# 파이썬 기본

In [2]:
print("Hello World!")

Hello World!

## 자료형 - int, float
### int = integer = 정수 / float = 실수

In [3]:
# x라는 변수에 3이라는 값을 할당
x = 3

In [4]:
x

3

In [5]:
x = 4

In [6]:
x

4

In [7]:
# x type 확인
type(x)

int

In [8]:
y = 7.2

In [9]:
y

7.2

In [10]:
type(y)

float

In [11]:
# z라는 변수에 변수 x와 변수 y의 합 을 할당
z = x + y

In [12]:
z

11.2

In [13]:
type(z)

float

In [14]:
# z를 int로 데이터 형변환 후 z에 재할당
z = int(z)
z

11

In [15]:
type(z)

int

## 자료형 - str
### str = string = 문자

In [16]:
name = "Yehoon Jang"

In [17]:
name

'Yehoon Jang'

In [18]:
type(name)

str

In [19]:
#name을 처음부터 끝까지 출력
name[:]

'Yehoon Jang'

In [20]:
#first_name ="Yehoon"

In [21]:
# Yehoon Jang   (문자)
# 0123456789    (인덱스)

# 이름 부분만 추출 후 first_name에 할당
first_name = name[0:6]

# [0:6] 
# 0부터 6 직전 까지만을 의미
# 0이상 6미만 으로 이해하면 됨

In [22]:
first_name

'Yehoon'

In [23]:
last_name = name[6:]
# [6:]
# 6부터 끝까지

In [24]:
last_name

' Jang'

In [25]:
# strip()은 문자열 내 양 쪽 의 공백을 제거해 줌
# 처음과 끝 공백만 제거하므로, 중간에 삽입 된 공백은 제거하지 않음
last_name.strip()

'Jang'

In [26]:
last_name

' Jang'

In [27]:
last_name = last_name.strip()

In [28]:
last_name

'Jang'

## 자료형 - List

In [29]:
# 리스트는 집합과 비슷한 개념
a = [1, 2, 3, 4]

In [30]:
a

[1, 2, 3, 4]

In [31]:
type(a)

list

In [32]:
# 리스트 a에 5라는 데이터 추가
a.append(5)

In [33]:
a

[1, 2, 3, 4, 5]

In [34]:
# 데이터 5의 인덱스는 4
a[4]

5

In [35]:
a[1]

2

In [36]:
a.append(3)

In [37]:
a

[1, 2, 3, 4, 5, 3]

In [38]:
# a라는 리스트에서 3이라는 데이터를 제거
a.remove(3)

In [39]:
a

[1, 2, 4, 5, 3]

In [40]:
a[3]

5

In [41]:
# 리스트의 길이 추출
# len() 함수는 문자열에도 사용 가능
# ex) len(frist_name) 명령하면 6 출력
len(a)

5

In [42]:
# 인덱스의 범위를 벗어났기 때문에 에러 발생
a[5]

IndexError: list index out of range

## List의 Index 및 Slicing

In [43]:
a[1]

2

In [44]:
a[0]

1

In [45]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
# num 리스트의 처음부터 끝까지 출력
num[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
num[1:3]

[2, 3]

In [48]:
# [-1]은 리스트의 마지막 데이터를 가리킴
num[-1]

10

In [49]:
# 처음부터 끝까지 거꾸로 출력
num[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [50]:
# 처음부터 끝까지 2칸씩 건너뛰며 출력
num[::2]

[1, 3, 5, 7, 9]

In [51]:
# 처음부터 끝까지 3칸씩 건너뛰며 출력
num[::3]

[1, 4, 7, 10]

In [52]:
# 처음부터 끝까지 4칸씩 건너뛰며 출력
num[::4]

[1, 5, 9]

In [53]:
# 1번째부터 끝까지 2칸씩 건너뛰며 출력
num[1::2]

[2, 4, 6, 8, 10]

## List 연산

In [54]:
a

[1, 2, 4, 5, 3]

In [55]:
b = [2, 4, 8, 10, 6]
b

[2, 4, 8, 10, 6]

In [56]:
# 합집합처럼 원소들이 합쳐짐
a + b

[1, 2, 4, 5, 3, 2, 4, 8, 10, 6]

## 다차원 List

In [57]:
# 2차원 리스트
n_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [58]:
n_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [59]:
# n_list 에 10 추가
n_list.append(10)

In [60]:
n_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9], 10]

In [61]:
n_list[2]

[7, 8, 9]

In [62]:
# n_list[2]에 10 추가
n_list[2].append(10)

In [63]:
n_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9, 10], 10]

In [64]:
n_list.remove(10)

In [65]:
n_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9, 10]]

## 자료형 - Dict

### {key:value}

key 값으로 value data 를 검색할 때 유용

In [66]:
# key 값으로는 학년, value 값으로는 건물 이름
grade_bldg = {1:"central", 2:"silver_town", 3:"triangle"}

In [67]:
grade_bldg

{1: 'central', 2: 'silver_town', 3: 'triangle'}

In [68]:
# key 값으로 value 검색
grade_bldg[1]

'central'

In [69]:
grade_bldg["silver_town"]
# key 값으로만 검색 가능하기 때문에 에러 발생

KeyError: 'silver_town'

## 동명이인이 있다고 가정<br>김동화(10201): 80<br>이동화(10321) : 75<br>김동화(11301) : 78

In [70]:
name_score = {"김동화" : 80, "이동화": 75, "김동화": 78}

In [71]:
# dict는 중복된 key값이 있으면 같은 key라고 인식하고 나중에 입력된 key값만이 남음
name_score

{'김동화': 78, '이동화': 75}

In [72]:
# 중복을 방지하기 위해 고유값인 학번으로 key 값 지정
id_score = {10201:80, 10321:75, 11301:80}
id_score

{10201: 80, 10321: 75, 11301: 80}

In [73]:
# key 값으로 데이터 검색
id_score[10201]

80

------------

In [74]:
# dict의 value는 다양한 형태의 데이터가 가능
id_scores = {10201:[80, 91, 78, 92], 10321:[75, 65, 77, 80] , 11301:80}

In [75]:
id_scores

{10201: [80, 91, 78, 92], 10321: [75, 65, 77, 80], 11301: 80}

In [76]:
scores = [[80, 91, 78, 92], [75, 65, 77, 80], [80, 82, 57, 90]]

In [77]:
scores

[[80, 91, 78, 92], [75, 65, 77, 80], [80, 82, 57, 90]]

In [78]:
# value에 직접 데이터를 입력할 수 도 있지만,
# 기존에 있던 데이터를 활용하여 입력도 가능
id_scores = {10201: scores[0], 10321: scores[1], 11301: scores[2]}

In [79]:
id_scores

{10201: [80, 91, 78, 92], 10321: [75, 65, 77, 80], 11301: [80, 82, 57, 90]}

In [80]:
id_scores[10201]

[80, 91, 78, 92]

-----------------

## 판다스 자료 구조

### Series

In [81]:
# 파이썬의 리스트와 비슷한 구조
obj = pd.Series([1, 2, 3, 4])

In [82]:
obj

0    1
1    2
2    3
3    4
dtype: int64

In [83]:
# 자동으로 생성된 index에 대한 설명
obj.index

RangeIndex(start=0, stop=4, step=1)

In [84]:
# 시리즈 데이터의 value
obj.values

array([1, 2, 3, 4], dtype=int64)

In [85]:
# 시리즈 데이터로 들어간 값들의 자료형
obj.dtypes

dtype('int64')

--------------

In [86]:
# 시리즈 데이터의 value로 들어갈 리스트 데이터와
# 시리즈 데이터의 인덱스로 사용할 리스트 데이터 생성
ser_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
idx_data = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [87]:
# 위에서 만들었던 리스트 데이터들을 활용하여 직접 값을 입력하지 않고 변수를 불러오면서 시리즈 데이터 생성
obj_2 = pd.Series(ser_data, index=idx_data)

In [88]:
obj_2

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [89]:
id_score

{10201: 80, 10321: 75, 11301: 80}

In [90]:
# 위에서 만들었던 id_score dict 데이터를 시리즈 데이터 생성 시 입력
obj_3 = pd.Series(id_score)

In [91]:
# dict의 key값이 시리즈 데이터의 인덱스로,
# dict의 value 값이 시리즈 데이터의 value 값으로 할당됨
obj_3

10201    80
10321    75
11301    80
dtype: int64

In [92]:
# 인덱스의 구분을 위해 이름을 지정
obj_3.index.name = "id"
obj_3

id
10201    80
10321    75
11301    80
dtype: int64

---------------

### Data Frame

In [93]:
# 다차원 리스트가 value 값으로 지정된 dict 선언
id_scores

{10201: [80, 91, 78, 92], 10321: [75, 65, 77, 80], 11301: [80, 82, 57, 90]}

In [94]:
# 데이터 프레임 생성 시 id_score dict 입력
df = pd.DataFrame(id_scores)

In [95]:
# key값이 데이터 프레임의 column으로, value 가 데이터 프레임의 value로 지정
# 인덱스는 판다스에서 자동 지정
df

   10201  10321  11301
0     80     75     80
1     91     65     82
2     78     77     57
3     92     80     90

In [96]:
# 데이터 프레임의 columns 확인
df.columns

Int64Index([10201, 10321, 11301], dtype='int64')

In [97]:
# 데이터 프레임의 인덱스 확인
df.index

RangeIndex(start=0, stop=4, step=1)

In [98]:
# 데이터 프레임의 인덱스를 사람이 이해할 수 있게 바꾸기 위해 인덱스 리스트 생성
sub_name = ['math', 'english', 'korean', 'history']
sub_name

['math', 'english', 'korean', 'history']

In [99]:
# 위에 생성한 리스트를 인덱스로 할당
df.index = sub_name

In [100]:
# 확인
df

         10201  10321  11301
math        80     75     80
english     91     65     82
korean      78     77     57
history     92     80     90

In [101]:
df.index

Index(['math', 'english', 'korean', 'history'], dtype='object')

---------------

In [102]:
# 데이터 프레임의 행과 열을 전환
df.T

       math  english  korean  history
10201    80       91      78       92
10321    75       65      77       80
11301    80       82      57       90

In [103]:
# df에 df.T를 할당해 주지 않았기 때문에 행,열 전환이 안 된 데이터 프레임이 출력
df

         10201  10321  11301
math        80     75     80
english     91     65     82
korean      78     77     57
history     92     80     90

In [104]:
# 행, 열 전환된 데이터 프레임을 df에 재할달
df = df.T

In [105]:
# 확인
df

       math  english  korean  history
10201    80       91      78       92
10321    75       65      77       80
11301    80       82      57       90

In [106]:
# columns 확인
# 학번에서 과목명으로 변경
df.columns

Index(['math', 'english', 'korean', 'history'], dtype='object')

In [107]:
# 인덱스가 과목명에서 학번으로 변경
df.index

Int64Index([10201, 10321, 11301], dtype='int64')

In [108]:
# 데이터 프레임의 value가 다차원 리스트 형태로 반환
df.get_values()

array([[80, 91, 78, 92],
       [75, 65, 77, 80],
       [80, 82, 57, 90]], dtype=int64)

In [109]:
# 과목명을 바꾸기 위해 리스트 변경
sub_name = ['1학기_중간', 'b', 'c','e']

In [110]:
# colmns 변경
df.columns = sub_name

In [111]:
# 확인
df

       1학기_중간   b   c   e
10201      80  91  78  92
10321      75  65  77  80
11301      80  82  57  90

--------------

In [112]:
# 데이터 프레임에서 0번째 행의 데이터를 검색할 때
# iloc은 index location을 의미
# 따라서 인덱스의 위치가 0인 행을 출력하라는 뜻
df.iloc[0]

1학기_중간    80
b         91
c         78
e         92
Name: 10201, dtype: int64

In [113]:
# 인덱스의 순서를 모를 때는 인덱스의 값으로 검색 가능
# loc은 location의 줄임말
# 인덱스의 값이 10201인 행을 출력하라는 뜻
df.loc[10201]

1학기_중간    80
b         91
c         78
e         92
Name: 10201, dtype: int64

In [117]:
# 판다스는 열을 중심으로 데이터 핸들링을 지원하기 때문에 columns을 이용해 검색 할때는 별다른 명령어 필요없이
# 바로 호출해주면 됨
df.b

10201    91
10321    65
11301    82
Name: b, dtype: int64

In [118]:
#column 의 이름이 숫자+문자 등의 복잡한 형태이거나, 띄어쓰기가 포함되어 있을 경우 검색하는 방법
df[['1학기_중간']]

       1학기_중간
10201      80
10321      75
11301      80

In [120]:
# column 여러 개를 동시에 출력하고 싶을 때
df[['b','c']]

        b   c
10201  91  78
10321  65  77
11301  82  57