In [28]:
import pandas as pd
import seaborn as sns

In [29]:
df = sns.load_dataset('attention')

In [30]:
df.head()

   Unnamed: 0  subject attention  solutions  score
0           0        1   divided          1    2.0
1           1        2   divided          1    3.0
2           2        3   divided          1    3.0
3           3        4   divided          1    5.0
4           4        5   divided          1    4.0

In [31]:
df.score = int(df.score*10)

TypeError: cannot convert the series to <class 'int'>

In [32]:
import numpy as np

df.score = df.score.astype(int)
df.score.head()

0    2
1    3
2    3
3    5
4    4
Name: score, dtype: int32

In [33]:
df.score = df.score*10
df.score.head()

0    20
1    30
2    30
3    50
4    40
Name: score, dtype: int32

In [39]:
df.head()

   Unnamed: 0  subject attention  solutions  score
0           0        1   divided          1     20
1           1        2   divided          1     30
2           2        3   divided          1     30
3           3        4   divided          1     50
4           4        5   divided          1     40

In [35]:
avg = df.score.mean()
avg

59.5

In [45]:
df['variance'] = pd.Series(df.score.mean() - df.score)
df.variance.head(10)

0    39.5
1    29.5
2    29.5
3     9.5
4    19.5
5     9.5
6     9.5
7     9.5
8    39.5
9    -0.5
Name: score, dtype: float64

In [46]:
df.head()

   Unnamed: 0  subject attention  solutions  score  variance
0           0        1   divided          1     20      39.5
1           1        2   divided          1     30      29.5
2           2        3   divided          1     30      29.5
3           3        4   divided          1     50       9.5
4           4        5   divided          1     40      19.5