In [43]:
import pandas as pd
import numpy as np
import seaborn as sns

In [44]:
df = sns.load_dataset('attention')
df.head()

   Unnamed: 0  subject attention  solutions  score
0           0        1   divided          1    2.0
1           1        2   divided          1    3.0
2           2        3   divided          1    3.0
3           3        4   divided          1    5.0
4           4        5   divided          1    4.0

In [45]:
df = df.drop(['Unnamed: 0'], axis=1)
df.head()

   subject attention  solutions  score
0        1   divided          1    2.0
1        2   divided          1    3.0
2        3   divided          1    3.0
3        4   divided          1    5.0
4        5   divided          1    4.0

In [46]:
df.dtypes

subject        int64
attention     object
solutions      int64
score        float64
dtype: object

In [47]:
df.get_dtype_counts()

int64      2
object     1
float64    1
dtype: int64

In [50]:
df.select_dtypes(include=['int64']).head()

   subject  solutions
0        1          1
1        2          1
2        3          1
3        4          1
4        5          1

In [51]:
df.select_dtypes(include=['number']).head()

   subject  solutions  score
0        1          1    2.0
1        2          1    3.0
2        3          1    3.0
3        4          1    5.0
4        5          1    4.0

In [52]:
df.select_dtypes(include=['object']).head()

  attention
0   divided
1   divided
2   divided
3   divided
4   divided

In [53]:
df.subject.value_counts()

20    3
19    3
2     3
3     3
4     3
5     3
6     3
7     3
8     3
9     3
10    3
11    3
12    3
13    3
14    3
15    3
16    3
17    3
18    3
1     3
Name: subject, dtype: int64

In [56]:
df.subject.value_counts(normalize=True).head()

20    0.05
19    0.05
2     0.05
3     0.05
4     0.05
Name: subject, dtype: float64

In [57]:
df.attention.value_counts()

focused    30
divided    30
Name: attention, dtype: int64

In [58]:
df.attention.unique()

array(['divided', 'focused'], dtype=object)