In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('SacramentocrimeJanuary2006.csv', encoding='ascii')

In [3]:
df.head()

,cdatetime,address,district,beat,grid,crimedescr,ucr_ncic_code,latitude,longitude
0,2001-01-06 0:00,3108 OCCIDENTAL DR,3,3C,1115,10851(A)VC TAKE VEH W/O OWNER,2404,38.550420,-121.391416
1,2001-01-06 0:00,2082 EXPEDITION WAY,5,5A,1512,459 PC BURGLARY RESIDENCE,2204,38.473501,-121.490186
2,2001-01-06 0:00,4 PALEN CT,2,2A,212,10851(A)VC TAKE VEH W/O OWNER,2404,38.657846,-121.462101
3,2001-01-06 0:00,22 BECKFORD CT,6,6C,1443,476 PC PASS FICTICIOUS CHECK,2501,38.506774,-121.426951
4,2001-01-06 0:00,3421 AUBURN BLVD,2,2A,508,459 PC BURGLARY-UNSPECIFIED,2299,38.637448,-121.384613

In [5]:
df.columns

Index(['cdatetime', 'address', 'district', 'beat', 'grid', 'crimedescr',
       'ucr_ncic_code', 'latitude', 'longitude'],
      dtype='object')

In [ ]:
df

In [5]:
df['grid'].dtype

dtype('int64')

In [6]:
df['grid'] = df['grid'].astype(float)

In [7]:
df['grid'].dtype

dtype('float64')

In [11]:
df['grid'].get_values()

array([1115., 1512.,  212., ...,  841.,  969., 1294.])

In [16]:
(df['grid'] < 1000).head(10)

0    False
1    False
2     True
3    False
4     True
5    False
6     True
7     True
8     True
9     True
Name: grid, dtype: bool

In [17]:
df[df['grid'] < 1000].head(10)

,cdatetime,address,district,beat,grid,crimedescr,ucr_ncic_code,latitude,longitude
2,2001-01-06 0:00,4 PALEN CT,2,2A,212.0,10851(A)VC TAKE VEH W/O OWNER,2404,38.657846,-121.462101
4,2001-01-06 0:00,3421 AUBURN BLVD,2,2A,508.0,459 PC BURGLARY-UNSPECIFIED,2299,38.637448,-121.384613
6,2001-01-06 0:00,2217 16TH AVE,4,4A,957.0,459 PC BURGLARY VEHICLE,2299,38.537173,-121.487577
7,2001-01-06 0:00,3547 P ST,3,3C,853.0,484 PC PETTY THEFT/INSIDE,2308,38.564335,-121.461883
8,2001-01-06 0:00,3421 AUBURN BLVD,2,2A,508.0,459 PC BURGLARY BUSINESS,2203,38.637448,-121.384613
9,2001-01-06 0:00,1326 HELMSMAN WAY,1,1B,444.0,1708 US THEFT OF MAIL,2310,38.609602,-121.491838
13,2001-01-06 0:00,7721 COLLEGE TOWN DR,3,3C,888.0,530.5 PC USE PERSONAL ID INFO,2604,38.556115,-121.414273
17,2001-01-06 0:00,547 L ST,3,3M,742.0,487(A) GRAND THEFT-INSIDE,2308,38.581846,-121.501166
21,2001-01-06 0:01,1896 ARDEN WAY,2,2C,628.0,484G(B) PC ACCESS CARD FRAUD,2605,38.596642,-121.423349
23,2001-01-06 0:01,415 SEXTANT WAY,2,2A,213.0,459 PC BURGLARY VEHICLE,2299,38.656601,-121.456045

In [20]:
df[df['grid'] < 1000].head(10)['grid']

2     212.0
4     508.0
6     957.0
7     853.0
8     508.0
9     444.0
13    888.0
17    742.0
21    628.0
23    213.0
Name: grid, dtype: float64