In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.23.0'

In [3]:
series = pd.Series(['a', 'b', 'c'])

In [4]:
series

0    a
1    b
2    c
dtype: object

In [5]:
df = pd.DataFrame([['a', 'b', 'c'], ['x', 'y', 'z']])

In [6]:
df

   0  1  2
0  a  b  c
1  x  y  z