In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.23.0'

In [3]:
series = pd.Series(['a', 'b', 'c'])

In [4]:
series

0    a
1    b
2    c
dtype: object

In [5]:
df = pd.DataFrame([['a', 'b', 'c'], ['x', 'y', 'z']])

In [6]:
df

   0  1  2
0  a  b  c
1  x  y  z

In [2]:
df = pd.DataFrame([[1, 2, 3, 4], [5, 6, 7, 8]])

In [3]:
row_list = ['r1', 'r2']

In [6]:
df.index = row_list

In [7]:
df = df.rename(columns={0:'c1',1:'c2',2:'c3'})

In [8]:
df

    c1  c2  c3  3
r1   1   2   3  4
r2   5   6   7  8

In [25]:
df.loc[['r1']]

    c1  c2  c3  3
r1   1   2   3  4

ValueError: invalid literal for int() with base 10: 'r1'