In [27]:
import pandas as pd
from itertools import combinations
import itertools

## Data Load

In [21]:
p1_ipc = pd.read_excel("./data/1.wearables_2011-2013_original_part.xlsx", sheet_name="ipc_info")
p1_td = pd.read_excel("./data/1.wearables_2011-2013_original_part.xlsx", sheet_name="transaction_data")
# p1_ipc
# p1_td.shape

## Combination 만들기

In [30]:
df_35 = p1_ipc["ipc"].loc[p1_ipc["tech_group"].str.startswith("35")]
df_37 = p1_ipc["ipc"].loc[p1_ipc["tech_group"].str.startswith("37")]
combi_df = pd.DataFrame(list(itertools.product(df_35, df_37)), columns=["35", "37"])
combi_df.head()

     35    37
0  G09B  A61B
1  G09B  A61C
2  G09B  A61D
3  G09B  A61F
4  G09B  A61G