# 설비효과 추정

## Data Load

In [19]:
import pandas as pd

In [20]:
df = pd.read_excel("./data/wafer/실습 데이터 (path data).xlsx", sheet_name="population")
sample = pd.read_excel("./data/wafer/실습 데이터 (path data).xlsx", sheet_name="sample")
df

,Process 1,Process 2,Process 3,Process 4,Process 5,Process 6,Process 7,Process 8,Yield
0,1,1,1,1,1,1,1,1,84.516824
1,1,1,1,1,1,1,1,2,86.059395
2,1,1,1,1,1,1,1,3,86.620403
3,1,1,1,1,1,1,2,1,84.342478
4,1,1,1,1,1,1,2,2,82.356679
...,...,...,...,...,...,...,...,...,...
6556,3,3,3,3,3,3,2,2,85.256023
6557,3,3,3,3,3,3,2,3,73.936457
6558,3,3,3,3,3,3,3,1,85.864868
6559,3,3,3,3,3,3,3,2,84.655892
6560,3,3,3,3,3,3,3,3,77.793253

## Data Check

In [23]:
df.drop("Yield", axis=1).apply(pd.Series.unique)

,Process 1,Process 2,Process 3,Process 4,Process 5,Process 6,Process 7,Process 8
0,1,1,1,1,1,1,1,1
1,2,2,2,2,2,2,2,2
2,3,3,3,3,3,3,3,3

In [24]:
3**8

6561

-----------------

## 주효과 Main effect
* Process 1 ~ 8의 각 머신 1 ~ 3 의 주효과

In [84]:
process_list = list(df.columns[:-1])
process_list

['Process 1',
 'Process 2',
 'Process 3',
 'Process 4',
 'Process 5',
 'Process 6',
 'Process 7',
 'Process 8']

In [105]:
# 각 process의 머신 별 평균 수율
process_dict = {}
total_mean = pd.DataFrame()
for process in process_list:
    mean_df = df.groupby(process)["Yield"].mean()
    mean_df = mean_df.reset_index()
    process_dict[process] = mean_df

In [106]:
process_dict["Process 1"]

   Process 1      Yield
0          1  82.653723
1          2  82.425581
2          3  79.994421

### 각 머신 별 주효과 
* 전체 평균 - 프로세스의 머신 별 평균

In [107]:
# 전체 수율 평균
total_mean = df["Yield"].mean()


# 각 process의 머신 별 주효과
machine_main_effect = {}
for process in process_list:
    process_dict[process]["Main Effect"] = 0    # Main Effect 컬럼 생성 및 초기화
    for i in range(3):
        machine_me = process_dict[process].iloc[i, 1] - total_mean
        process_dict[process].iloc[i, -1] = machine_me

In [108]:
process_dict["Process 1"]

   Process 1      Yield  Main Effect
0          1  82.653723     0.962481
1          2  82.425581     0.734339
2          3  79.994421    -1.696821

## 교호작용 효과 Interaction Effect

In [114]:
# Path 는 process를 역행하지 않기 때문에 조합 형태로 교호작용 산출

1 2
1 3
1 4
1 5
1 6
1 7
1 8
2 3
2 4
2 5
2 6
2 7
2 8
3 4
3 5
3 6
3 7
3 8
4 5
4 6
4 7
4 8
5 6
5 7
5 8
6 7
6 8
7 8