In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [2]:
user_df = pd.read_csv("user.csv", encoding="cp949")
# user_df.head()

In [3]:
user_df.shape

(74454, 5)

In [4]:
columns = ["user_id", "first_access", "last_access", "first_payment", "last_payment"]
user_df.columns = columns
user_df.head()

,user_id,first_access,last_access,first_payment,last_payment
0,__4et3Bgl5Cxiykg5teoHOqxgXGfuAt8Dt7_SlYudeCH7v...,20191001,20191231,NaN,NaN
1,_xx9UYMbzRv6agHGJsts58SvSfYb1n2KkAWHaMFlFB9iVX...,20191001,20191231,NaN,NaN
2,_UU1bJQzRpINiuKbklq3iUwnmV0j7tDrbTnVlf-pHqnGcO...,20191001,20191228,20191006.0,20191215.0
3,_n20rkJ5HkW6DJbSBDVUjQbA0L0BpqjtIupqaDqIGQjBmF...,20191001,20191229,NaN,NaN
4,_8g_mZfFYL-wZT9ocI2q5ZyqQuf--hh-V_Y62DYLaCq07W...,20191001,20191231,NaN,NaN

In [5]:
# play_df = pd.read_csv("play.csv", encoding="cp949")
# # play_df.head()

In [6]:
# play_df.shape

In [7]:
# columns = ["user_id", "highest_stage", "challenging_stage", "result", "paly_time", "is_continue", "start_time", "restuarant_id", 
#            "item_1", "item_2", "item_3", "item_4", "item_5", "item_6", "item_7", "item_8"]
# play_df.columns = columns
# play_df.head()

In [8]:
user_df.head()

,user_id,first_access,last_access,first_payment,last_payment
0,__4et3Bgl5Cxiykg5teoHOqxgXGfuAt8Dt7_SlYudeCH7v...,20191001,20191231,NaN,NaN
1,_xx9UYMbzRv6agHGJsts58SvSfYb1n2KkAWHaMFlFB9iVX...,20191001,20191231,NaN,NaN
2,_UU1bJQzRpINiuKbklq3iUwnmV0j7tDrbTnVlf-pHqnGcO...,20191001,20191228,20191006.0,20191215.0
3,_n20rkJ5HkW6DJbSBDVUjQbA0L0BpqjtIupqaDqIGQjBmF...,20191001,20191229,NaN,NaN
4,_8g_mZfFYL-wZT9ocI2q5ZyqQuf--hh-V_Y62DYLaCq07W...,20191001,20191231,NaN,NaN

In [9]:
user_df.first_access = user_df.first_access.astype(str).apply(lambda x : datetime.datetime.strptime(x, "%Y%m%d").date())
user_df.last_access = user_df.last_access.astype(str).apply(lambda x : datetime.datetime.strptime(x, "%Y%m%d").date())

In [10]:
user_df.head()

,user_id,first_access,last_access,first_payment,last_payment
0,__4et3Bgl5Cxiykg5teoHOqxgXGfuAt8Dt7_SlYudeCH7v...,2019-10-01,2019-12-31,NaN,NaN
1,_xx9UYMbzRv6agHGJsts58SvSfYb1n2KkAWHaMFlFB9iVX...,2019-10-01,2019-12-31,NaN,NaN
2,_UU1bJQzRpINiuKbklq3iUwnmV0j7tDrbTnVlf-pHqnGcO...,2019-10-01,2019-12-28,20191006.0,20191215.0
3,_n20rkJ5HkW6DJbSBDVUjQbA0L0BpqjtIupqaDqIGQjBmF...,2019-10-01,2019-12-29,NaN,NaN
4,_8g_mZfFYL-wZT9ocI2q5ZyqQuf--hh-V_Y62DYLaCq07W...,2019-10-01,2019-12-31,NaN,NaN

In [11]:
user_df["retention"] = (user_df.last_access - user_df.first_access).dt.days + 1
user_df.head()

,user_id,first_access,last_access,first_payment,last_payment,retention
0,__4et3Bgl5Cxiykg5teoHOqxgXGfuAt8Dt7_SlYudeCH7v...,2019-10-01,2019-12-31,NaN,NaN,92
1,_xx9UYMbzRv6agHGJsts58SvSfYb1n2KkAWHaMFlFB9iVX...,2019-10-01,2019-12-31,NaN,NaN,92
2,_UU1bJQzRpINiuKbklq3iUwnmV0j7tDrbTnVlf-pHqnGcO...,2019-10-01,2019-12-28,20191006.0,20191215.0,89
3,_n20rkJ5HkW6DJbSBDVUjQbA0L0BpqjtIupqaDqIGQjBmF...,2019-10-01,2019-12-29,NaN,NaN,90
4,_8g_mZfFYL-wZT9ocI2q5ZyqQuf--hh-V_Y62DYLaCq07W...,2019-10-01,2019-12-31,NaN,NaN,92

In [12]:
user_df.first_payment = user_df.first_payment.fillna(0).astype(int)
user_df.last_payment = user_df.last_payment.fillna(0).astype(int)

In [13]:
type(user_df.first_access[0])

datetime.date

In [14]:
user_df.first_payment = user_df.first_payment.astype(str).apply(lambda x : datetime.datetime.strptime(x, "%Y%m%d").date() if x != '0' else 0)
user_df.last_payment = user_df.last_payment.astype(str).apply(lambda x : datetime.datetime.strptime(x, "%Y%m%d").date() if x != '0' else 0)

In [15]:
user_df.head()

,user_id,first_access,last_access,first_payment,last_payment,retention
0,__4et3Bgl5Cxiykg5teoHOqxgXGfuAt8Dt7_SlYudeCH7v...,2019-10-01,2019-12-31,0,0,92
1,_xx9UYMbzRv6agHGJsts58SvSfYb1n2KkAWHaMFlFB9iVX...,2019-10-01,2019-12-31,0,0,92
2,_UU1bJQzRpINiuKbklq3iUwnmV0j7tDrbTnVlf-pHqnGcO...,2019-10-01,2019-12-28,2019-10-06,2019-12-15,89
3,_n20rkJ5HkW6DJbSBDVUjQbA0L0BpqjtIupqaDqIGQjBmF...,2019-10-01,2019-12-29,0,0,90
4,_8g_mZfFYL-wZT9ocI2q5ZyqQuf--hh-V_Y62DYLaCq07W...,2019-10-01,2019-12-31,0,0,92

In [16]:
user_df["has_payment"] = [1 if i != 0 else 0 for i in user_df.first_payment]
user_df.head(25)

,user_id,first_access,last_access,first_payment,last_payment,retention,has_payment
0,__4et3Bgl5Cxiykg5teoHOqxgXGfuAt8Dt7_SlYudeCH7v...,2019-10-01,2019-12-31,0,0,92,0
1,_xx9UYMbzRv6agHGJsts58SvSfYb1n2KkAWHaMFlFB9iVX...,2019-10-01,2019-12-31,0,0,92,0
2,_UU1bJQzRpINiuKbklq3iUwnmV0j7tDrbTnVlf-pHqnGcO...,2019-10-01,2019-12-28,2019-10-06,2019-12-15,89,1
3,_n20rkJ5HkW6DJbSBDVUjQbA0L0BpqjtIupqaDqIGQjBmF...,2019-10-01,2019-12-29,0,0,90,0
4,_8g_mZfFYL-wZT9ocI2q5ZyqQuf--hh-V_Y62DYLaCq07W...,2019-10-01,2019-12-31,0,0,92,0
5,_hu6Wu67h9l_yJ2xP6DV662xPK8naC_XJxGGzwuC6NMrYa...,2019-10-01,2019-12-28,0,0,89,0
6,_OOzrhNMW5T2NGSBUaxYVoSrKDfEnSvh2FQPb9Zo4ooxlc...,2019-10-01,2019-12-31,0,0,92,0
7,_308zxV3dORpo_wORj69N-ur-H9vH0EQoNlpGZcTOPakeU...,2019-10-01,2019-12-21,0,0,82,0
8,_3smqgQcENi1GxMaW_9MMJH_Q2clCZKLIbIv2clPDpDCQ5...,2019-10-01,2019-12-30,0,0,91,0
9,_henHYiUeJDyEhkDPZK57FlpiiFnUdTALbuVnxtdmCfrzd...,2019-10-01,2019-12-31,0,0,92,0
10,_Wl8rZ4QlKdPoFGghAKZwp4VkIEbfRoQOfmYC1zBm9WcMV...,2019-10-01,2019-12-31,0,0,92,0
11,_RRCzOUB0zHBGoQKdxSdi43qGyfOjPo95CqCeYazVvHQ_x...,2019-10-01,2019-12-31,2019-11-25,2019-11-25,92,1
12,_VXtu_P_oRHgnbjUEyWF8EU5ifkke2IsqMYGhQkVMlZnQQ...,2019-10-01,2019-12-24,0,0,85,0
13,_GByz2hyumS9jTaVt7wlp3hy64Xpao5ADlD-ZELLlHvHAA...,2019-10-01,2019-12-24,0,0,85,0
14,_uSIZFWtxSkZwGpo8mOEltL7L_1sMWSaSjSTDcJlVuMgRo...,2019-10-01,2019-12-30,0,0,91,0
15,_2VEHaInIaut8etC-c2XHY1FutHbfJPyT-PpGL4E1ZAiJd...,2019-10-01,2019-12-31,0,0,92,0
16,_7HFIRFRrjxOzPARL9Gx9h2zi2KikJCyFNvazHRLDiVfqf...,2019-10-01,2019-12-31,0,0,92,0
17,_dYUJKh5BMNOc4wtXJH0PzRNmk0JsC5xg1D46DKUC-YRrF...,2019-10-02,2019-12-31,0,0,91,0
18,_KNJ6EZ0VEEndYbo3qthCXqwoPimGqSqBi6TK2vJSekUfV...,2019-10-02,2019-12-15,0,0,75,0
19,_3Ka9ZvJ8EdM5I790nHNiy7IW56Q_QbITTBndDhSpZmAB0...,2019-10-02,2019-12-31,0,0,91,0
20,_Ifi3H83No7hXJkJ6q4e3Dg_cWexXESyxrHrslO_ltkWAJ...,2019-10-02,2019-12-22,0,0,82,0
21,_3mTgQEYpXab5Rx_5_JyEi-YUhhK5IvjC6SofAaaKeQEWs...,2019-10-02,2019-12-23,0,0,83,0
22,_Q25memoiWRKI6BlIj9o63gpx3T5eIDQ35G60vgke9duea...,2019-10-02,2019-12-31,0,0,91,0
23,__LlkuEPsoSyIJT5eleLTQBx2eL9TaAn9T4j9lRpZVXZJE...,2019-10-02,2019-12-27,0,0,87,0
24,_4-6dgKN9w3FCrPGY0nO1e1FxcHohspkr9HmTp36gSkb6_...,2019-10-02,2019-12-18,0,0,78,0

In [17]:
# user_df["pu"] = (user_df.last_payment - user_df.first_access).dt.days
# user_df.head()

In [18]:
pu = []
for i in range(len(user_df)):
    if user_df.first_payment[i] != 0 and user_df.last_payment[i] != 0:
        days = (user_df.last_payment[i] - user_df.first_payment[i]).days
        if days == 0:
            pu.append(1)
        else:
            pu.append(days+1)
    else:
        pu.append(0)

In [19]:
user_df["pu"] = pu
user_df.head(15)

,user_id,first_access,last_access,first_payment,last_payment,retention,has_payment,pu
0,__4et3Bgl5Cxiykg5teoHOqxgXGfuAt8Dt7_SlYudeCH7v...,2019-10-01,2019-12-31,0,0,92,0,0
1,_xx9UYMbzRv6agHGJsts58SvSfYb1n2KkAWHaMFlFB9iVX...,2019-10-01,2019-12-31,0,0,92,0,0
2,_UU1bJQzRpINiuKbklq3iUwnmV0j7tDrbTnVlf-pHqnGcO...,2019-10-01,2019-12-28,2019-10-06,2019-12-15,89,1,71
3,_n20rkJ5HkW6DJbSBDVUjQbA0L0BpqjtIupqaDqIGQjBmF...,2019-10-01,2019-12-29,0,0,90,0,0
4,_8g_mZfFYL-wZT9ocI2q5ZyqQuf--hh-V_Y62DYLaCq07W...,2019-10-01,2019-12-31,0,0,92,0,0
5,_hu6Wu67h9l_yJ2xP6DV662xPK8naC_XJxGGzwuC6NMrYa...,2019-10-01,2019-12-28,0,0,89,0,0
6,_OOzrhNMW5T2NGSBUaxYVoSrKDfEnSvh2FQPb9Zo4ooxlc...,2019-10-01,2019-12-31,0,0,92,0,0
7,_308zxV3dORpo_wORj69N-ur-H9vH0EQoNlpGZcTOPakeU...,2019-10-01,2019-12-21,0,0,82,0,0
8,_3smqgQcENi1GxMaW_9MMJH_Q2clCZKLIbIv2clPDpDCQ5...,2019-10-01,2019-12-30,0,0,91,0,0
9,_henHYiUeJDyEhkDPZK57FlpiiFnUdTALbuVnxtdmCfrzd...,2019-10-01,2019-12-31,0,0,92,0,0
10,_Wl8rZ4QlKdPoFGghAKZwp4VkIEbfRoQOfmYC1zBm9WcMV...,2019-10-01,2019-12-31,0,0,92,0,0
11,_RRCzOUB0zHBGoQKdxSdi43qGyfOjPo95CqCeYazVvHQ_x...,2019-10-01,2019-12-31,2019-11-25,2019-11-25,92,1,1
12,_VXtu_P_oRHgnbjUEyWF8EU5ifkke2IsqMYGhQkVMlZnQQ...,2019-10-01,2019-12-24,0,0,85,0,0
13,_GByz2hyumS9jTaVt7wlp3hy64Xpao5ADlD-ZELLlHvHAA...,2019-10-01,2019-12-24,0,0,85,0,0
14,_uSIZFWtxSkZwGpo8mOEltL7L_1sMWSaSjSTDcJlVuMgRo...,2019-10-01,2019-12-30,0,0,91,0,0

In [20]:
# 마지막 결제일과 마지막 접속일 간 차이
ret_pu = []
for i in range(len(user_df)):
    if user_df.last_payment[i] != 0 and user_df.last_access[i] != 0:
        days = (user_df.last_access[i] - user_df.last_payment[i]).days
        if days == 0:
            ret_pu.append(1)
        else:
            ret_pu.append(days+1)
    else:
        ret_pu.append(0)

In [24]:
user_df["ret_pu"] = ret_pu
user_df.head(15)

,user_id,first_access,last_access,first_payment,last_payment,retention,has_payment,pu,ret_pu
0,__4et3Bgl5Cxiykg5teoHOqxgXGfuAt8Dt7_SlYudeCH7v...,2019-10-01,2019-12-31,0,0,92,0,0,0
1,_xx9UYMbzRv6agHGJsts58SvSfYb1n2KkAWHaMFlFB9iVX...,2019-10-01,2019-12-31,0,0,92,0,0,0
2,_UU1bJQzRpINiuKbklq3iUwnmV0j7tDrbTnVlf-pHqnGcO...,2019-10-01,2019-12-28,2019-10-06,2019-12-15,89,1,71,14
3,_n20rkJ5HkW6DJbSBDVUjQbA0L0BpqjtIupqaDqIGQjBmF...,2019-10-01,2019-12-29,0,0,90,0,0,0
4,_8g_mZfFYL-wZT9ocI2q5ZyqQuf--hh-V_Y62DYLaCq07W...,2019-10-01,2019-12-31,0,0,92,0,0,0
5,_hu6Wu67h9l_yJ2xP6DV662xPK8naC_XJxGGzwuC6NMrYa...,2019-10-01,2019-12-28,0,0,89,0,0,0
6,_OOzrhNMW5T2NGSBUaxYVoSrKDfEnSvh2FQPb9Zo4ooxlc...,2019-10-01,2019-12-31,0,0,92,0,0,0
7,_308zxV3dORpo_wORj69N-ur-H9vH0EQoNlpGZcTOPakeU...,2019-10-01,2019-12-21,0,0,82,0,0,0
8,_3smqgQcENi1GxMaW_9MMJH_Q2clCZKLIbIv2clPDpDCQ5...,2019-10-01,2019-12-30,0,0,91,0,0,0
9,_henHYiUeJDyEhkDPZK57FlpiiFnUdTALbuVnxtdmCfrzd...,2019-10-01,2019-12-31,0,0,92,0,0,0
10,_Wl8rZ4QlKdPoFGghAKZwp4VkIEbfRoQOfmYC1zBm9WcMV...,2019-10-01,2019-12-31,0,0,92,0,0,0
11,_RRCzOUB0zHBGoQKdxSdi43qGyfOjPo95CqCeYazVvHQ_x...,2019-10-01,2019-12-31,2019-11-25,2019-11-25,92,1,1,37
12,_VXtu_P_oRHgnbjUEyWF8EU5ifkke2IsqMYGhQkVMlZnQQ...,2019-10-01,2019-12-24,0,0,85,0,0,0
13,_GByz2hyumS9jTaVt7wlp3hy64Xpao5ADlD-ZELLlHvHAA...,2019-10-01,2019-12-24,0,0,85,0,0,0
14,_uSIZFWtxSkZwGpo8mOEltL7L_1sMWSaSjSTDcJlVuMgRo...,2019-10-01,2019-12-30,0,0,91,0,0,0

In [40]:
play_df = pd.read_csv("play.csv", encoding="cp949")
# play_df.head()
play_df.shape

c:\users\jangy\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (12,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(482640, 16)

In [41]:
columns = ["user_id", "highest_stage", "challenging_stage", "result", "paly_time", "is_continue", "start_time", "restuarant_id", 
           "item_1", "item_2", "item_3", "item_4", "item_5", "item_6", "item_7", "item_8"]
play_df.columns = columns
play_df.head()

,user_id,highest_stage,challenging_stage,result,paly_time,is_continue,start_time,restuarant_id,item_1,item_2,item_3,item_4,item_5,item_6,item_7,item_8
0,_-yTB_vWYNK3eld8eI_-0PJyBijXwtewbqpLwhUUIuwtvf...,100095,100090,WIN,95,N,20191207 180956,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,_-yTB_vWYNK3eld8eI_-0PJyBijXwtewbqpLwhUUIuwtvf...,100095,100090,LOSE,31,N,20191207 163158,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,_-yTB_vWYNK3eld8eI_-0PJyBijXwtewbqpLwhUUIuwtvf...,100095,100097,LOSE,100,N,20191207 180616,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,_-yTB_vWYNK3eld8eI_-0PJyBijXwtewbqpLwhUUIuwtvf...,100095,100092,LOSE,96,N,20191207 181746,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,_-yTB_vWYNK3eld8eI_-0PJyBijXwtewbqpLwhUUIuwtvf...,100095,100090,LOSE,95,N,20191207 163345,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
play_df.result = play_df.result.apply(lambda x : 1 if x.upper() == "WIN" else 0)
play_df.is_continue = play_df.is_continue.apply(lambda x : 1 if x.upper() == "Y" else 0)

In [43]:
play_df.head()

,user_id,highest_stage,challenging_stage,result,paly_time,is_continue,start_time,restuarant_id,item_1,item_2,item_3,item_4,item_5,item_6,item_7,item_8
0,_-yTB_vWYNK3eld8eI_-0PJyBijXwtewbqpLwhUUIuwtvf...,100095,100090,1,95,0,20191207 180956,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,_-yTB_vWYNK3eld8eI_-0PJyBijXwtewbqpLwhUUIuwtvf...,100095,100090,0,31,0,20191207 163158,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,_-yTB_vWYNK3eld8eI_-0PJyBijXwtewbqpLwhUUIuwtvf...,100095,100097,0,100,0,20191207 180616,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,_-yTB_vWYNK3eld8eI_-0PJyBijXwtewbqpLwhUUIuwtvf...,100095,100092,0,96,0,20191207 181746,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,_-yTB_vWYNK3eld8eI_-0PJyBijXwtewbqpLwhUUIuwtvf...,100095,100090,0,95,0,20191207 163345,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN