In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
user_df = pd.read_csv("user.csv", encoding="cp949")
user_df.head()

,암호화된 유저아이디,가입일,마지막 접속일,최초 결제일,마지막 결제일
0,__4et3Bgl5Cxiykg5teoHOqxgXGfuAt8Dt7_SlYudeCH7v...,20191001,20191231,NaN,NaN
1,_xx9UYMbzRv6agHGJsts58SvSfYb1n2KkAWHaMFlFB9iVX...,20191001,20191231,NaN,NaN
2,_UU1bJQzRpINiuKbklq3iUwnmV0j7tDrbTnVlf-pHqnGcO...,20191001,20191228,20191006.0,20191215.0
3,_n20rkJ5HkW6DJbSBDVUjQbA0L0BpqjtIupqaDqIGQjBmF...,20191001,20191229,NaN,NaN
4,_8g_mZfFYL-wZT9ocI2q5ZyqQuf--hh-V_Y62DYLaCq07W...,20191001,20191231,NaN,NaN

In [3]:
columns = ["user_id", "first_access", "last_access", "first_payment", "last_payment"]
user_df.columns = columns
user_df.head()

,user_id,first_access,last_access,first_payment,last_payment
0,__4et3Bgl5Cxiykg5teoHOqxgXGfuAt8Dt7_SlYudeCH7v...,20191001,20191231,NaN,NaN
1,_xx9UYMbzRv6agHGJsts58SvSfYb1n2KkAWHaMFlFB9iVX...,20191001,20191231,NaN,NaN
2,_UU1bJQzRpINiuKbklq3iUwnmV0j7tDrbTnVlf-pHqnGcO...,20191001,20191228,20191006.0,20191215.0
3,_n20rkJ5HkW6DJbSBDVUjQbA0L0BpqjtIupqaDqIGQjBmF...,20191001,20191229,NaN,NaN
4,_8g_mZfFYL-wZT9ocI2q5ZyqQuf--hh-V_Y62DYLaCq07W...,20191001,20191231,NaN,NaN

In [4]:
play_df = pd.read_csv("play.csv", encoding="cp949")
play_df.head()

c:\users\jangy\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (12,13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,암호화된 유저아이디,머물고 있는 최종스테이지,도전하는 스테이지,결과,플레이시간(초),이어하기 사용 여부,시작시간,식당 아이디,사용아이템1,사용아이템2,사용아이템3,사용아이템4,사용아이템5,사용아이템6,사용아이템7,사용아이템8
0,_-yTB_vWYNK3eld8eI_-0PJyBijXwtewbqpLwhUUIuwtvf...,100095,100090,WIN,95,N,20191207 180956,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,_-yTB_vWYNK3eld8eI_-0PJyBijXwtewbqpLwhUUIuwtvf...,100095,100090,LOSE,31,N,20191207 163158,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,_-yTB_vWYNK3eld8eI_-0PJyBijXwtewbqpLwhUUIuwtvf...,100095,100097,LOSE,100,N,20191207 180616,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,_-yTB_vWYNK3eld8eI_-0PJyBijXwtewbqpLwhUUIuwtvf...,100095,100092,LOSE,96,N,20191207 181746,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,_-yTB_vWYNK3eld8eI_-0PJyBijXwtewbqpLwhUUIuwtvf...,100095,100090,LOSE,95,N,20191207 163345,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
columns = ["user_id", "highest_stage", "challenging_stage", "result", "paly_time", "is_continue", "start_time", "restuarant_id", 
           "item_1", "item_2", "item_3", "item_4", "item_5", "item_6", "item_7", "item_8"]
play_df.columns = columns
play_df.head()

,user_id,highest_stage,challenging_stage,result,paly_time,is_continue,start_time,restuarant_id,item_1,item_2,item_3,item_4,item_5,item_6,item_7,item_8
0,_-yTB_vWYNK3eld8eI_-0PJyBijXwtewbqpLwhUUIuwtvf...,100095,100090,WIN,95,N,20191207 180956,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,_-yTB_vWYNK3eld8eI_-0PJyBijXwtewbqpLwhUUIuwtvf...,100095,100090,LOSE,31,N,20191207 163158,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,_-yTB_vWYNK3eld8eI_-0PJyBijXwtewbqpLwhUUIuwtvf...,100095,100097,LOSE,100,N,20191207 180616,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,_-yTB_vWYNK3eld8eI_-0PJyBijXwtewbqpLwhUUIuwtvf...,100095,100092,LOSE,96,N,20191207 181746,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,_-yTB_vWYNK3eld8eI_-0PJyBijXwtewbqpLwhUUIuwtvf...,100095,100090,LOSE,95,N,20191207 163345,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN