In [9]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np

# 파이썬 기본

In [125]:
print("Hello World!")

Hello World!

## 자료형 - int, float
### int = integer = 정수 / float = 실수

In [12]:
x = 3

In [13]:
x

3

In [21]:
type(x)

int

In [22]:
y = 7.2

In [23]:
y

7.2

In [24]:
type(y)

float

In [25]:
z = x + y

In [26]:
z

10.2

In [27]:
type(z)

float

In [57]:
int(z)

10

## 자료형 - str
### str = string = 문자

In [58]:
name = "Yehoon Jang"

In [60]:
name

'Yehoon Jang'

In [61]:
name[:]

'Yehoon Jang'

In [63]:
first_name = name[:6]

In [64]:
first_name

'Yehoon'

In [69]:
last_name = name[6:]

In [70]:
last_name

' Jang'

In [71]:
last_name.strip()

'Jang'

In [72]:
last_name

' Jang'

In [73]:
last_name = last_name.strip()

In [74]:
last_name

'Jang'

## 자료형 - List

In [91]:
a = [1, 2, 3, 4]

In [92]:
a

[1, 2, 3, 4]

In [93]:
type(a)

list

In [94]:
a.append(5)

In [95]:
a

[1, 2, 3, 4, 5]

In [96]:
a[4]

5

In [97]:
a.append(3)

In [98]:
a

[1, 2, 3, 4, 5, 3]

In [99]:
a.remove(3)

In [100]:
a

[1, 2, 4, 5, 3]

In [101]:
a[3]

5

In [102]:
len(a)

5

## List의 Index 및 Slicing

In [40]:
a[1]

2

In [41]:
a[0]

1

In [42]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
num[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
num[1:3]

[2, 3]

In [46]:
num[-1]

10

In [50]:
num[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [51]:
num[::2]

[1, 3, 5, 7, 9]

In [138]:
num[1::2]

[2, 4, 6, 8, 10]

## List 연산

In [226]:
a

[1, 2, 4, 5, 3]

In [227]:
b = [2, 4, 8, 10, 6]
b

[2, 4, 8, 10, 6]

In [228]:
a + b

[1, 2, 4, 5, 3, 2, 4, 8, 10, 6]

## 다차원 List

In [144]:
n_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [145]:
n_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [146]:
n_list.append(10)

In [147]:
n_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9], 10]

In [148]:
n_list[2]

[7, 8, 9]

In [149]:
n_list[2].append(10)

In [150]:
n_list[2]

[7, 8, 9, 10]

In [151]:
n_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9, 10], 10]

In [152]:
n_list.remove(10)

In [153]:
n_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9, 10]]

## 자료형 - Dict

### {key:value}

key 값으로 value data 를 검색할 때 유용

In [53]:
grade_bldg = {1:"central", 2:"silver_town", 3:"triangle"}

In [54]:
grade_bldg

{1: 'central', 2: 'silver_town', 3: 'triangle'}

In [55]:
grade_bldg[1]

'central'

In [56]:
grade_bldg["silver_town"]
# key 값으로만 검색 가능!

KeyError: 'silver_town'

### 김동화(10201) : 80<br>이동화(10321) : 75<br>김동화(11301) : 80

In [114]:
name_socre = {"김동화" : 80, "이동화": 75, "김동화": 80}

In [115]:
name_socre

{'김동화': 80, '이동화': 75}

In [121]:
id_score = {10201:80, 10321:75, 11301:80}

In [122]:
id_score

{10201: 80, 10321: 75, 11301: 80}

In [123]:
id_score.values()

dict_values([80, 75, 80])

In [124]:
id_score[10201]

80

------------

In [154]:
id_scores = {10201:[80, 91, 78, 92], 10321:[75, 65, 77, 80] , 11301:80}

In [155]:
id_scores

{10201: [80, 91, 78, 92], 10321: [75, 65, 77, 80], 11301: 80}

In [156]:
scores = [[80, 91, 78, 92], [75, 65, 77, 80], [80, 82, 57, 90]]

In [157]:
scores

[[80, 91, 78, 92], [75, 65, 77, 80], [80, 82, 57, 90]]

In [158]:
id_scores = {10201: scores[0], 10321: scores[1], 11301: scores[2]}

In [159]:
id_scores

{10201: [80, 91, 78, 92], 10321: [75, 65, 77, 80], 11301: [80, 82, 57, 90]}

In [161]:
id_scores[10201]

[80, 91, 78, 92]

-----------------

## 판다스 자료 구조

### Series

In [10]:
obj = pd.Series([1, 2, 3, 4])

In [11]:
obj

0    1
1    2
2    3
3    4
dtype: int64

In [14]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [16]:
obj.values

array([1, 2, 3, 4], dtype=int64)

In [128]:
obj.dtypes

dtype('int64')

--------------

In [132]:
ser_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
idx_data = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [133]:
obj_2 = pd.Series(ser_data, index=idx_data)

In [134]:
obj_2

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [163]:
id_score

{10201: 80, 10321: 75, 11301: 80}

In [135]:
obj_3 = pd.Series(id_score)

In [136]:
obj_3

10201    80
10321    75
11301    80
dtype: int64

In [137]:
obj_3.index.name = "id"
obj_3

id
10201    80
10321    75
11301    80
dtype: int64

---------------

### Data Frame

In [186]:
id_scores

{10201: [80, 91, 78, 92], 10321: [75, 65, 77, 80], 11301: [80, 82, 57, 90]}

In [187]:
df = pd.DataFrame(id_scores)

In [188]:
df

   10201  10321  11301
0     80     75     80
1     91     65     82
2     78     77     57
3     92     80     90

In [189]:
df.columns

Int64Index([10201, 10321, 11301], dtype='int64')

In [190]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [191]:
sub_name = ['math', 'english', 'korean', 'history']
sub_name

['math', 'english', 'korean', 'history']

In [192]:
df.index = sub_name

In [193]:
df

         10201  10321  11301
math        80     75     80
english     91     65     82
korean      78     77     57
history     92     80     90

In [194]:
df.index

Index(['math', 'english', 'korean', 'history'], dtype='object')

---------------

In [195]:
df.T

       math  english  korean  history
10201    80       91      78       92
10321    75       65      77       80
11301    80       82      57       90

In [196]:
df

         10201  10321  11301
math        80     75     80
english     91     65     82
korean      78     77     57
history     92     80     90

In [197]:
df = df.T

In [198]:
df

       math  english  korean  history
10201    80       91      78       92
10321    75       65      77       80
11301    80       82      57       90

In [199]:
df.columns

Index(['math', 'english', 'korean', 'history'], dtype='object')

In [200]:
df.index

Int64Index([10201, 10321, 11301], dtype='int64')

In [205]:
df.get_values()

array([[80, 91, 78, 92],
       [75, 65, 77, 80],
       [80, 82, 57, 90]], dtype=int64)

In [221]:
sub_name = ['math', 'english', 'korean', 'science']

In [223]:
df.columns = sub_name

In [224]:
df

       math  english  korean  science
10201    80       91      78       92
10321    75       65      77       80
11301    80       82      57       90

--------------

In [207]:
df[0]

KeyError: 0

In [209]:
df[10201]

KeyError: 10201

In [212]:
df.iloc[0]

math       80
english    91
korean     78
history    92
Name: 10201, dtype: int64

In [214]:
df.loc[10201]

math       80
english    91
korean     78
history    92
Name: 10201, dtype: int64

In [215]:
df.math

10201    80
10321    75
11301    80
Name: math, dtype: int64

In [216]:
df.english

10201    91
10321    65
11301    82
Name: english, dtype: int64

In [220]:
df[['math', 'english']]

       math  english
10201    80       91
10321    75       65
11301    80       82