In [1]:
# 라이브러리 불러오기
import pandas as pd
import numpy as np

# 파이썬 기본

In [2]:
print("Hello World!")

Hello World!

## 자료형 - int, float
### int = integer = 정수 / float = 실수

In [7]:
x = 3

In [8]:
x

3

In [5]:
x = 4

In [6]:
x

4

In [9]:
type(x)

int

In [10]:
y = 7.2

In [11]:
y

7.2

In [12]:
type(y)

float

In [14]:
z = x + y

In [15]:
z

10.2

In [16]:
type(z)

float

In [22]:
z = int(z)
z

10

In [21]:
type(z)

int

## 자료형 - str
### str = string = 문자

In [36]:
name = "Yehoon Jang"

In [37]:
name

'Yehoon Jang'

In [38]:
type(name)

str

In [39]:
name[:]

'Yehoon Jang'

In [40]:
first_name ="Yehoon"

In [41]:
first_name = name[0:6]

In [42]:
first_name

'Yehoon'

In [47]:
last_name = name[6:]

In [48]:
last_name

' Jang'

In [49]:
last_name.strip()

'Jang'

In [50]:
last_name

' Jang'

In [73]:
last_name = last_name.strip()

In [74]:
last_name

'Jang'

## 자료형 - List

In [58]:
a = [1, 2, 3, 4]

In [59]:
a

[1, 2, 3, 4]

In [60]:
type(a)

list

In [61]:
a.append(5)

In [62]:
a

[1, 2, 3, 4, 5]

In [63]:
a[4]

5

In [64]:
a[1]

2

In [65]:
a.append(3)

In [66]:
a

[1, 2, 3, 4, 5, 3]

In [67]:
a.remove(3)

In [68]:
a

[1, 2, 4, 5, 3]

In [69]:
a[3]

5

In [70]:
len(a)

5

In [71]:
a[5]

IndexError: list index out of range

## List의 Index 및 Slicing

In [72]:
a[1]

2

In [73]:
a[0]

1

In [75]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [76]:
num[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [77]:
num[1:3]

[2, 3]

In [78]:
len(num)

10

In [79]:
num[9]

10

In [80]:
num[-1]

10

In [81]:
num[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [82]:
num[::2]

[1, 3, 5, 7, 9]

In [83]:
num[::3]

[1, 4, 7, 10]

In [84]:
num[::4]

[1, 5, 9]

In [85]:
num[1::2]

[2, 4, 6, 8, 10]

## List 연산

In [90]:
a

[1, 2, 4, 5, 3]

In [91]:
b = [2, 4, 8, 10, 6]
b

[2, 4, 8, 10, 6]

In [92]:
a + b

[1, 2, 4, 5, 3, 2, 4, 8, 10, 6]

## 다차원 List

In [93]:
n_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [94]:
n_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [95]:
n_list.append(10)

In [96]:
n_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9], 10]

In [97]:
n_list[2]

[7, 8, 9]

In [100]:
n_list[2].append(10)

In [104]:
n_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9, 10], 10]

In [105]:
n_list.remove(10)

In [106]:
n_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9, 10]]

## 자료형 - Dict

### {key:value}

key 값으로 value data 를 검색할 때 유용

In [107]:
grade_bldg = {1:"central", 2:"silver_town", 3:"triangle"}

In [108]:
grade_bldg

{1: 'central', 2: 'silver_town', 3: 'triangle'}

In [110]:
grade_bldg[1]

'central'

In [112]:
grade_bldg["silver_town"]
# key 값으로만 검색 가능!

KeyError: 'silver_town'

### 김동화(10201) : 80<br>이동화(10321) : 75<br>김동화(11301) : 80

In [114]:
name_score = {"김동화" : 80, "이동화": 75, "김동화": 80}

In [116]:
name_score

{'김동화': 80, '이동화': 75}

In [130]:
id_score = {10201:80, 10321:75, 11301:80}
id_score

{10201: 80, 10321: 75, 11301: 80}

In [133]:
id_score[10201]

80

------------

In [122]:
id_scores = {10201:[80, 91, 78, 92], 10321:[75, 65, 77, 80] , 11301:80}

In [123]:
id_scores

{10201: [80, 91, 78, 92], 10321: [75, 65, 77, 80], 11301: 80}

In [124]:
scores = [[80, 91, 78, 92], [75, 65, 77, 80], [80, 82, 57, 90]]

In [125]:
scores

[[80, 91, 78, 92], [75, 65, 77, 80], [80, 82, 57, 90]]

In [127]:
id_scores = {10201: scores[0], 10321: scores[1], 11301: scores[2]}

In [128]:
id_scores

{10201: [80, 91, 78, 92], 10321: [75, 65, 77, 80], 11301: [80, 82, 57, 90]}

In [129]:
id_scores[10201]

[80, 91, 78, 92]

-----------------

## 판다스 자료 구조

### Series

In [134]:
obj = pd.Series([1, 2, 3, 4])

In [135]:
obj

0    1
1    2
2    3
3    4
dtype: int64

In [136]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [137]:
obj.values

array([1, 2, 3, 4], dtype=int64)

In [138]:
obj.dtypes

dtype('int64')

--------------

In [139]:
ser_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
idx_data = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [140]:
obj_2 = pd.Series(ser_data, index=idx_data)

In [141]:
obj_2

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [142]:
id_score

{10201: 80, 10321: 75, 11301: 80}

In [143]:
obj_3 = pd.Series(id_score)

In [144]:
obj_3

10201    80
10321    75
11301    80
dtype: int64

In [145]:
obj_3.index.name = "id"
obj_3

id
10201    80
10321    75
11301    80
dtype: int64

---------------

### Data Frame

In [147]:
id_scores

{10201: [80, 91, 78, 92], 10321: [75, 65, 77, 80], 11301: [80, 82, 57, 90]}

In [148]:
df = pd.DataFrame(id_scores)

In [149]:
df

   10201  10321  11301
0     80     75     80
1     91     65     82
2     78     77     57
3     92     80     90

In [189]:
df.columns

Int64Index([10201, 10321, 11301], dtype='int64')

In [150]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [151]:
sub_name = ['math', 'english', 'korean', 'history']
sub_name

['math', 'english', 'korean', 'history']

In [152]:
df.index = sub_name

In [153]:
df

         10201  10321  11301
math        80     75     80
english     91     65     82
korean      78     77     57
history     92     80     90

In [154]:
df.index

Index(['math', 'english', 'korean', 'history'], dtype='object')

---------------

In [155]:
df.T

       math  english  korean  history
10201    80       91      78       92
10321    75       65      77       80
11301    80       82      57       90

In [156]:
df

         10201  10321  11301
math        80     75     80
english     91     65     82
korean      78     77     57
history     92     80     90

In [157]:
df = df.T

In [158]:
df

       math  english  korean  history
10201    80       91      78       92
10321    75       65      77       80
11301    80       82      57       90

In [199]:
df.columns

Index(['math', 'english', 'korean', 'history'], dtype='object')

In [200]:
df.index

Int64Index([10201, 10321, 11301], dtype='int64')

In [205]:
df.get_values()

array([[80, 91, 78, 92],
       [75, 65, 77, 80],
       [80, 82, 57, 90]], dtype=int64)

In [175]:
sub_name = ['1학기_중간', 'b', 'c','e']

In [176]:
df.columns = sub_name

In [177]:
df

       1학기_중간   b   c   e
10201      80  91  78  92
10321      75  65  77  80
11301      80  82  57  90

--------------

In [164]:
df.iloc[0]

a    80
b    91
c    78
e    92
Name: 10201, dtype: int64

In [165]:
df.loc[10201]

a    80
b    91
c    78
e    92
Name: 10201, dtype: int64

In [178]:
df.1학기_중간

SyntaxError: invalid syntax (<ipython-input-178-56500228b74d>, line 1)

In [167]:
df.b

10201    91
10321    65
11301    82
Name: b, dtype: int64

In [182]:
df[['1학기_중간']]

       1학기_중간
10201      80
10321      75
11301      80

In [183]:
df.b

10201    91
10321    65
11301    82
Name: b, dtype: int64