## n진법을 10진법으로 바꾸기

In [14]:
a = '123'

In [15]:
a = a[::-1]

In [16]:
a

'321'

In [18]:
num, base = map(int, input().strip().split(' '))
answer = 0
for i in range(len(str(num))):
    answer += int(str(num)[::-1][i])*(base**i)
    
print(answer)

12 5
7

### Answer

In [19]:
int('12', 3)

5

-------------

## 문자열 정렬하기

In [20]:
s, n = input().strip().split(' ')
n = int(n)

4 7

In [21]:
space = n - len(s)
space

6

In [22]:
print(s + (" "*space))
print((" "*(space//2)) + s + (" "*(space//2)))
print((" "*space) + s)

4
   4
      4

### Answer

In [23]:
print(s.ljust(n))
print(s.center(n))
print(s.rjust(n))

4
   4
      4

-------------------------

## 알파벳 출력하기

In [25]:
num = int(input().strip())
alpha = 'abcdefghijklmnopqrstuvwxyz'
if num == 0:
    print(('').join(sorted(alpha.lower())))
elif num == 1:
    print(('').join(sorted(alpha.upper())))

0
abcdefghijklmnopqrstuvwxyz

### Answer

In [26]:
import string 

print(string.ascii_lowercase) # 소문자 abcdefghijklmnopqrstuvwxyz
print(string.ascii_uppercase) # 대문자 ABCDEFGHIJKLMNOPQRSTUVWXYZ
print(string.ascii_letters) #대소문자 모두 abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
print(string.digits) # 숫자 0123456789

abcdefghijklmnopqrstuvwxyz
ABCDEFGHIJKLMNOPQRSTUVWXYZ
abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
0123456789

-----------------

## 2차원 리스트 뒤집기

In [27]:
mylist = [[1,2,3], [4,5,6], [7,8,9]]

In [28]:
z_ml = list(zip(*mylist))

for idx, i in enumerate(z_ml):
    z_ml[idx] = list(i)
print(z_ml)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

### Answer

In [29]:
z_ml = list(map(list, zip(*mylist)))

In [30]:
z_ml

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

--------------------

## 모든 멤버의 타입 변환하기

In [35]:
my_list = ['1', '2', '3']

In [36]:
for idx, val in enumerate(my_list):
    my_list[idx] = int(val)
my_list

[1, 2, 3]

### Answer

In [37]:
answer = list(map(int, my_list))
answer

[1, 2, 3]

---------------------------

## Map 함수 응용하기

In [38]:
mylist = [[1], [1,2]]

In [76]:
answer = list(map(len, mylist))

In [77]:
answer

[1, 2]

-----------------

## sequence 멤버를 하나로 이어붙이기

In [78]:
mylist = ['1', '33', '100']

In [95]:
answer = ("").join(mylist)

In [96]:
answer

'133100'

-----------------

## 삼각형 별 찍기

In [97]:
n = int(input().strip())

3

In [98]:
for i in range(n):
    print('*'*(i+1))

*
**
***

----------------

## 곱집합(Cartesian product) 구하기 - product

In [110]:
import itertools

iterable1 = 'ABCD'
iterable2 = 'xy'
[''.join(i) for i in itertools.product(iterable1, iterable2)]

['Ax', 'Ay', 'Bx', 'By', 'Cx', 'Cy', 'Dx', 'Dy']

----------------------

## 2차원 리스트를 1차원 리스트로 만들기

In [122]:
mylist = [[1], [2]]

In [114]:
answer = []
for i in mylist:
    for j in i:
        answer.append(j)

In [115]:
answer

[1, 2]

### Answer

In [118]:
#1 
answer = sum(mylist, [])
answer

[1, 2]

In [119]:
#2
import itertools
list(itertools.chain.from_iterable(mylist))

[1, 2]

In [120]:
#3
list(itertools.chain(*mylist))

[1, 2]

In [124]:
#4
[j for i in mylist for j in i]

[1, 2]

In [125]:
#5
from functools import reduce
list(reduce(lambda x, y: x+y, mylist))

[1, 2]

In [127]:
#6
from functools import reduce
import operator
list(reduce(operator.add, mylist))

[1, 2]

------------------

## 순열과 조합

In [128]:
mylist = [1, 2]

In [140]:
import itertools
answer = sorted(list(map(list, itertools.permutations(mylist, len(mylist)))))

In [141]:
answer

[[1, 2], [2, 1]]

------------------------

## 가장 많이 등장하는 알파벳 찾기

In [146]:
mystr = input().strip()

aaafefa

In [149]:
import collections

str_counts = collections.Counter(mystr)

max_str = ''
for k, v in str_counts.items():
    if v == max(str_counts.values()):
        max_str += k

In [150]:
('').join(sorted(max_str))

'a'

------------------

## for 문과 if 문을 한 번에

In [151]:
mylist = [2, 3, 6, 7]

In [157]:
answer = [i**2 for i in mylist if i%2 == 0]

In [158]:
answer

[4, 36]

------------------

## 이진탐색

In [159]:
def bisect(a, x, lo=0, hi=None):
    if lo < 0:
        raise ValueError('lo must be non-negative')
    if hi is None:
        hi = len(a)
    while lo < hi:
        mid = (lo + hi) // 2
        if a[mid] < x:
            lo = mid + 1
        else:
            hi = mid
    return lo

mylist = [1, 2, 3, 7, 9, 11, 33]
print(bisect(mylist, 3))

2

In [160]:
import bisect
mylist = [1, 2, 3, 7, 9, 11, 33]
print(bisect.bisect(mylist, 3))

3

------------------